# The Arc server generates this directory to hold its data.
/www/
# It generates this directory to hold some temporary files.
/tmp/

# Let's not commit the unit-test.arc repo to the Anarki repo by
# accident.
/unit-test.arc/

# When `raco setup --package anarki` builds documentation, it goes
# here.
/doc/

# These are the default .gitignore settings created by `raco pkg new`.
# The raco tools seem to generate `compiled` directories at the least.
*~
\#*
.\#*
.DS_Store
compiled
