body  { font-family:Verdana, sans-serif; font-size:10pt; }
td    { font-family:Verdana, sans-serif; font-size:10pt; color:#828282; }

form {
	padding-top:1em;
	padding-bottom:1em;
}

.comments-list {
  margin-left:1em;
  padding-left:0px;
}

.items-list {
  margin-left:0;
  padding-left:1em;
}

.comments-list li { 
	list-style: none;
	margin-bottom:1em;
	padding:0px; 
}

.items-list li { 
	margin-bottom:1em;
	padding:0px; 
}

#logo {
	display:inline;
	float:left;
	margin:0px auto;
	border:0px;
	padding-right:0.2em;
}

#userlink {
	font-weight:bold;
}

.layout {
	width:85%;
	min-width:85%;
	margin:0px auto;
	display:block;
}

.page-header {
	display:block;
	margin:0px auto;
	border:0px;
	height:20px;
	padding-top:2px;
}

.page-content {
	display:block;
	padding-top:1em;
	margin-left:1em;
	padding-right:2em;
}

.page-footer {
	text-align:center;
}

.votelinks{
	display:inline;
	float:left;
	margin-right:0.25em;
}

#navleft {
	display:inline-block;
	float:left;
	padding-right:1em;
	font-weight:bold;
}

#navmain {
	display:inline-block;
	width:auto;
}

#navright {
	display:inline-block;
	float:right;
	padding-right:0.2em;
}

.sand {
	background-color: rgb(246, 246, 239);
}


.admin td   { font-family:Verdana, sans-serif; font-size:8.5pt; color:#000000; }
.subtext td { font-family:Verdana, sans-serif; font-size:  7pt; color:#828282; }

input    { font-family:Courier, monospace; font-size:10pt; color:#000000; }
input[type="submit"] { font-family:Verdana, sans-serif; }
textarea { font-family:Courier, monospace; font-size:10pt; color:#000000; }

a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

.votelink{ display:block; }
.sitelink { font-weight:bold;}
.default { font-family:Verdana, sans-serif; font-size: 10pt; color:#828282; }
.admin   { font-family:Verdana, sans-serif; font-size:8.5pt; color:#000000; }
.title   { font-family:Verdana, sans-serif; font-size: 10pt; color:#828282; }
.adtitle { font-family:Verdana, sans-serif; font-size:  9pt; color:#828282; }
.subtext { font-family:Verdana, sans-serif; font-size:  7pt; color:#828282; margin-bottom:10px;}
.yclinks { font-family:Verdana, sans-serif; font-size:  8pt; color:#828282;}
.pagetop { font-family:Verdana, sans-serif; font-size: 10pt; color:#222222; }
.comhead { font-family:Verdana, sans-serif; font-size:  8pt; color:#828282; }
.comment { font-family:Verdana, sans-serif; font-size:  9pt; }
.dead    { font-family:Verdana, sans-serif; font-size:  9pt; color:#dddddd; }

.comment a:link, .comment a:visited { text-decoration:none;}
.dead a:link, .dead a:visited { color:#dddddd; }
.pagetop a:visited { color:#000000;}
.topsel a:link, .topsel a:visited { color:#ffffff; }

.subtext a:link, .subtext a:visited { color:#828282; }
.subtext a:hover { text-decoration:underline; }

.comhead a:link, .subtext a:visited { color:#828282; }
.comhead a:hover { text-decoration:underline; }

.default p { margin-top: 8px; margin-bottom: 0px; }

.pagebreak {page-break-before:always}

pre { overflow: auto; padding: 2px; max-width:600px; }
pre:hover {overflow:auto}

@media (max-width: 517px) {
  body { margin:0; }
  body > center > table { width:100%; }
  body > center > table > tbody  > tr:nth-child(1) > td > table td .pagetop b { display:block }
  body > center > table > tbody  > tr:nth-child(1) > td > table td .pagetop img { display:none }
}

/*
only need pre padding because of a bug in Mac Firefox

Without setting the bottom margin of p tags to 0, 1- and n-para comments
have different space at the bottom.  This solution suggested by Devin.
Really am using p tags wrong (as separators rather than wrappers) and the
correct thing to do would be to wrap each para in <p></p>.  Then whatever
I set the bottom spacing to, it would be the same no matter how many paras
in a comment. In this case by setting the bottom spacing of p to 0, I'm
making it the same as no p, which is what the first para has.

supplied by pb
*/
.vote { padding-left:2px; vertical-align:top; }
.comment { margin-top:0.5em; margin-bottom:0.5em; line-height: 150%; font-size:12px;}
.vote IMG { border:0px; margin: 3px 2px 3px 2px; }
.reply { font-size:smaller; text-decoration:underline !important; }
