
.main {
	margin-left: 15%;
}

.warning {
	border: solid 1px black;
	margin: 0.5em;
	font-size: 90%;
	background-color: #fff0c0;
}

.topinfo {
	float: right
}

.topbar {
	border-bottom: solid 1px black;
	margin-left: 15%;
}

.topbar span  {
	margin-left: 1em;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-top: solid 1px black;
}

.topbar #selected {
	border-bottom: solid 1px white;
}

.sidebar {
	position: absolute;
	left: 2px;
	top: 2px;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

.deadlink {
	color: red
}

h1 {
	border-bottom: solid 1px black;
	font-family: sans-serif;
}

h2 {
	border-bottom: solid 1px black;
	font-family: sans-serif;
}

h3 {
	font-family: sans-serif;
}

h4 {
	font-family: sans-serif;
}
